<%= @player_one.name %> vs. <%= @player_two.name %>

<%if @player_one.attacked == true%>
  <%= @player_one.name %> was attacked by <%= @player_two.name %><br>
<%end%>

<%= @player_two.name %>: <%= @player_two.hp %>HP
<%= @player_one.name %>: <%= @player_one.hp %>HP

<form action="/attack" method="post">
<input type="submit" value="Attack!">   
  <button type="button">"Paralyse"</button>      
  <button type="button">"Sleep, zzz"</button>      
  <button type="button">"Poison @_@"</button>      
  <button type="button">"Heal"</button>      
</form>
