<%= @game.player1.name %> vs. <%= @game.player2.name %>

<%if @game.player2.attacked == true%>
  <%= @game.player2.name %> was attacked by <%= @game.player1.name %><br>
<%end%>

<%= @game.player2.name %>: <%= @game.player2.hp %>HP
<%= @game.player1.name %>: <%= @game.player1.hp %>HP

<form action="/attack" method="post">
<input type="submit" value="Attack!">   
  <button type="button">"Paralyse"</button>      
  <button type="button">"Sleep, zzz"</button>      
  <button type="button">"Poison @_@"</button>      
  <button type="button">"Heal"</button>      
</form>
